.Layout {
  /* max-width: 960px; */
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 16px 16px 16px; */
  background-color: #740a03;
}

.Header {
  display: flex;
  height: 60px;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2ca3;
}

.Logo {
  font-size: 24px;
}
